config SYNA_USB_PHY
	bool "Synaptics usb PHY driver"
	depends on ARCH_SYNAPTICS
	default n
	help
	  Select this option to enable support for the USB 2.0/3.0 PHY (Physical Layer) controller
	  used in Synaptics SoCs.

config SYNA_USB_DWC3
	bool "Synaptics Platforms USB DWC3 glue layer"
	depends on ARCH_SYNAPTICS && USB_XHCI_DWC3
	help
	  Select this option to enable the Synaptics-specific glue layer for the DesignWare USB3
	  (DWC3) controller.
