if TARGET_MYNA2

config SYS_BOARD
	default "myna2"

config SYS_CONFIG_NAME
	default "myna2"

config SYS_BOARD_FPGA
	bool "Run on FPGA board"
	default n
	help
	  Select this option to enable support for running the U-Boot build
	  on an FPGA based version

config SYS_BOARD_VELOCE
	bool "Run on VELOCE board"
	default n
	select SYS_BOARD_FPGA
	help
	  Select this option to enable support for running the U-Boot build
	  on the VELOCE platform

endif
