config SYNA_PWM
	bool "Enable support for Synaptics PWM"
	depends on ARCH_SYNAPTICS
	depends on DM_PWM
	help
	  Enabling this config will include the support for the Pulse Width Modulation (PWM)
	  controller on Synaptics SoCs.
